{% extends 'base.html' %}
{% load static %}

{% block content %}
<input type="hidden" value="{{user_uuid}}" id="user-uuid">
<h1>Email verification</h1>
{% if user.is_email_verified %}
    <h4>This account is already verified</h4>
{% else%}
    <h4>An activation link was sent to your email address. Please verify you email</h4>
    <p>Did not recieve it? <a href="{% url 'send_verification_email' uuid=user_uuid %}">Resend verification mail</a></p>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'users/js/activation_pending.js' %}"></script>
{% endblock %}