{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <div>
        <div>
            Deleteing your account is irreversible. Do you confirm the deletion?
            <button>Cancel</button>
            <button>Yes</button>
        </div>
    </div>
    <div class="delete-popup">
        <p>Type your password to confirm deletion</p>
        <button>X</button>
        <form method="post">
            {% csrf_token %}
            <input type="password" name="confirmation_password" id="confirmation_password">

            <div>
                <input type="submit" value="Delete">
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block scripts %}

{% endblock %}