{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <div>
        <h2>Password reset</h2>

        <form method="post">
            {% csrf_token %}
            
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>

            <button type="submit" class="btn btn-primary">Update Password</button>
            <a href="" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}


{% block scripts %}

{% endblock %}